.cartPage{
    min-height: 88vh;
    padding: 5%;
    background-color: #e0dede;
    .cartPage__heading{  
        margin-bottom: 2%;
        color: teal;
        font-weight: bold;
        text-decoration: underline teal;  
    }
    .cartPage__items{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .cartPage__empty{
        font-size: 17px;
        font-weight: 500;
        color: teal;
    }
}