.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 30px;
  color: white;
  position: sticky;
  background-color: rgb(93, 93, 132);
  position: sticky;
  top: 0;
  z-index: 1000;
  h1 {
    font-weight: bold;
    cursor: pointer;
  }
  div {
    span {
      margin: 15px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
