
/* These styles are for link elements and error page and btn global styles*/
.routerLink{
    text-decoration: none;
    color: #fff;
}

.errorPage{ min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}
.btn{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
}
/* These styles are for link elements and error page*/

.homePage{
    display: flex;
    align-items: center;
    justify-content: space-between;
   color: white;
    padding: 2rem;
    width: 100%;
    min-height:80vh;
    background-color: #22758c;
    .titles{
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        h1{
            font-size: 2.5rem;  
        }
        h5{
            margin-top: 2rem;
            font-weight: bold;
        }
        button{
            width: max-content;
            outline: none;
            border: none;
            background-color: white;
            border-radius: 5px;
            font-weight: bold;
            align-self: center;
            padding: 5px 10px; 
        }
    }

    .imgWrapper{
        padding: 1rem;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(162, 155, 155);
        opacity: .8;
        transform: rotate(-10deg);
    }
    img{
        object-fit: cover;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        transform: rotate(10deg);
    }
}